.md-header {
  position: sticky;
  top: -500px;
  height: 560px;
  background-image: url('../assets/header-bg.webp');
  background-size: cover;
  background-position: top;
  will-change: transform;
}

.md-header__inner {
  height: 100%;
  align-items: flex-end;
}

.md-main {
  margin-top: 72px !important;
}

@media screen and (min-width: 76.25em) {
  .md-sidebar {
    position: sticky !important;
    top: 144px !important;
    height: 80vh !important; 
    will-change: transform;
  }
}

@media screen and (max-width: 76.25em) {
  .md-header {
    top: -300px;
    height: 360px;
  }
}

[data-md-color-scheme=default] {
    --post-card-bg: lavender;
    --post-border-color: navy;
}

[data-md-color-scheme=slate] {
    --post-card-bg: black;
    --post-border-color: gold;
}

.md-post--excerpt {
    background-color: var(--post-card-bg);
    padding: 1.5rem;
    border-radius: 0.8rem;
    border: 2px solid transparent;
    contain: layout style;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.md-post--excerpt:hover {
    border: 2px solid var(--post-border-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.md-content img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
}