.md-cover {
  position: relative;
  overflow: hidden;
  border-radius: 0.4rem;
}

.md-cover img {
  display: block;
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.md-cover__title {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: max-content;
  max-width: calc(100% - 2rem);
  margin: 0 !important;
  padding: 0.4em 0.75em;
  transform: translate(-50%, -50%);
  border-radius: 0.2rem;
  background: rgb(255 255 255 / 70%);
  color: #000 !important;
  line-height: 1.25;
  text-align: center;
}

.md-cover + h1 {
  display: none;
}

details .linenos, details code, details .filename, details .pyodide-editor {
  font-size: inherit !important;
}

details > summary + .highlight, details > summary + .tabbed-set {
  margin: -0.6rem !important;
}

.md-typeset .admonition.plain > .admonition-title,
.md-typeset details.plain > summary {
  padding-left: 0.8rem;
}

.md-typeset .admonition.plain > .admonition-title::before,
.md-typeset details.plain > summary::before {
  display: none;
}

.pyodide {
  border: .075rem solid var(--md-primary-fg-color);
  border-radius: .2rem;
}

.pyodide-editor {
  font-family: 'Roboto Mono';
}

.pyodide-editor-bar {
  font-size: .7rem;
  padding: 5px 0 5px;
}

.pyodide-editor-bar .twemoji {
  vertical-align: text-bottom;
  margin-bottom: .05rem;
}

details > .pyodide {
  margin: -0.6rem !important;
  border: none;
}
